h1{
    color: blueviolet;
    font-family: 'Rubik Wet Paint', cursive;
 text-decoration: underline;
    text-align: center;
    text-shadow: -11px 18px 2px rgba (186,75,200,0.37);
    <!-- solid style -->
    <i class="fa-solid fa-user"></i>
}
#verde {
    text-align: center;
}

h4{ color: aqua;
    background-color: brown;

}
h5{
    text-decoration: underline;
    color: floralwhite;
    background-color: black;
    width: 200px;
    
}
.dest {
    font-style: italic;
    font-size: small;
}
ul{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}
#lila {
    border: 4px dashed blueviolet;
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    text-align: center;
}
.rojo {
color: #00f8ff;
background: linear-gradient(73deg,#00f8ff 0%, rgba(255,0,253,0.66) 80%);
background: -webkit-linear-gradient(73deg,#00f8ff 0%, rgba(255,0,253,0.66) 80%);
background: -moz-linear-gradient(73deg,#00f8ff 0%, rgba(255,0,253,0.66) 80%);;
    width: 300px;
    height: 200px;
    color: white;
}
.amarillo {
    background-color: darksalmon;
    width: 300px;
    height: 200px;
    margin-top: 20px;
box-shadow: 20px 20px 5px rgba(201, 119, 201, 0.66);
} 
.texto{
    column-count:3 ;
    column-count: 3;
-webkit-column-count: 3;
-moz-column-count: 3;
column-gap: 29px;
-webkit-column-gap: 29px;
-moz-column-gap: 29px;
column-rule: 7px dashed #dc5bcc;
-webkit-column-rule: 7px dashed #dc5bcc;
-moz-column-rule: 7px dashed #dc5bcc;
}