.caja {
display: inline-flexbox;
 flex-direction: row;


}

.lili {
    background-color: blueviolet;
    height: 50px;
    margin-top: 10%;
    text-align: center;
}

.lila {
    background-color: rgb(207, 185, 229);
    height: 100px;
    margin-left: 20%;
}

.lilo {
    background-color: rgb(161, 143, 178);
    height: 200px;
    margin-left: 60%;
}
.lilu {
    background-color: rgb(159, 45, 146);
    height: 400px;
 
    margin-left: 80%;
   
}

@media (max-width: 800px) {
    .caja{
        display: inline-flexbox;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
   
.lili{
    background-color: antiquewhite;
    justify-content: center;
    height: 100px;
    margin-left: 0%;
   

}
.lila{
    background-color: bisque;
    height: 200px;
    margin-left: 0%;


}
.lilo {
    background-color: burlywood;
    height: 200px;
    margin-left: 0%;

}
   .lilu{
       background-color: coral;
       height: 400px;
       margin-left: 0%;

   }
}
